
{% extends 'base.html' %}

{% block content %}
<div style="position: absolute; top: 30%; left: 55%; width: 25em; " >
  <figure class="text-center">
    <blockquote class="blockquote">
      <h2 class="text-success" style="font-style: italic; font-weight: lighter;">I'm a party waiting to happen.</h2>
    
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title" class="text-light" style="font-weight: bold;">Carrie Fisher</cite>
    </figcaption>
  </figure>
</div>

<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-danger" style="justify-content: center;">Login</button>
    </form>
  </div>
</div>
{% endblock %}

