{% extends 'base.html' %}

{% block content %}

<h3> {{ event.title }}</h3>

<div class="toast show alert-warning " role="alert" aria-live="assertive" aria-atomic="true" style="border-radius: 13px;" >
  <div class="toast-header">
    <strong class="me-auto text-dark"  >Location: {{ event.location }}</strong>
    <small style="font-weight: bolder;">Time: {{ event.time }}</small>
      <span aria-hidden="true"> </span>
    </button>
  </div>
  <div class="toast-body">
    Category: {{ event.category }}
  </div>
  <div class="toast-body">
    Price: {{ event.ticket_price }}
  </div>
  <div class="toast-body">
    Organizer: {{ event.organizer }}
  </div>
  <div class="toast-body">
    Description: {{ event.description }}
  </div>
</div>
<br>
  <a href="{% url 'events:book_event' event_id=event.id %}" class="btn btn-primary">Book Event</a>
</div>
<br>
  {% if request.user.is_authenticated and request.user == event.organizer %}
    <div style="position:relative; left: 5%;" >
      <a href="{% url 'events:event_update' pk=event.pk %}" class="btn btn-primary" style="justify-content: center;">Update Event</a>
    </div>
    <br>
    <div style="position: absolute; left: 5%;">
      <a href="{% url 'events:event_delete' pk=event.pk %}" class="btn btn-primary">Delete Event</a>
    </div>
    {% endif %}
{% endblock %}

